nav#navBar 
    #logo
    ul#list
        li(onclick="window.location='/'")
            a Home
        
        li(onclick="window.location='/locks/290224tuX2MuX2TDetzlQgj87pFL6IWKUDfT'")
            a TimerTest
        
        li(onclick="window.location='/login'")  
            a login