html
  head
    title Dashboard
    link(rel='stylesheet', type='text/css', href='/css/main.css')
  body
    include modules/navbar.pug
    if !role
      #selectRole 
        h1 Welcome to StarDash! 
        h2 Please select your role: 
        .buttons 
          a keyholder 
          a() lockee
        h3 (You can change this at any time!)
    
    if role=="keyholder" || role=="switch"
      #activeLocks 
        h1 Active locks
        ul#lockList
          each lock in locks
            -lock = JSON.parse(lock);
            -var date = new Date(parseInt(lock.createdAt))
            li
              #timer 00:00:00:00
              #actions 
                i(class="fa-regular fa-clock")
                i(class="fa-regular fa-snowflake")
                i(class="fa-solid fa-up-right-from-square")
              #name= lock.lockee.username
              #lockedSince= date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear() 
    if role=="lockee" || role=="switch"

      
