html
  head
    title Dashboard
    link(rel='stylesheet', type='text/css', href='/css/main.css')
  body
    include modules/navbar.pug
    if !role
      #selectRole 
        h1 Welcome to StarDash! 
        h2 Please select your role: 
        .buttons 
          a keyholder 
          a() lockee
        h3 (You can change this at any time!)
    
    if role=="keyholder" || role=="switch"
      
      #activeLocks 
        h1 Active locks
        ul#lockList
        script.
          const list = document.getElementById("lockList");
          let activeLocks = [!{locks}] ?? [];
          activeLocks.forEach((lock) => {
            var li = document.createElement("li");
            li.innerHTML = `
              <div id="timer">00:00:00:00</div>
              <div id="actions">
                <i class="fa-regular fa-clock"></i>
                <i class="fa-regular fa-snowflake"></i>
                <i class="fa-solid fa-up-right-from-square"></i>
              </div>
              <div id="name">${lock.lockee.username}</div>
            `;
            list.append(li);
          });


    if role=="lockee" || role=="switch"

      
