html
  head
    title StarDash
    link(rel='stylesheet', type='text/css', href='/css/main.css')
  body
    include modules/navbar.pug
    #welcome
      #left
        h1 StarDash
        h2 Chastity experience from the stars
        #buttons
          
          a(href="#features")#feat Features
          if authorized
            a(href="/dashboard")#star Start your experience!
          else
            a(href="/signup")#star Start your experience!
      #right 
    ul#features
      li.feature


