html
  head
    title StarDash
    link(rel='stylesheet', type='text/css', href='/css/main.css')
  body
    include modules/navbar.pug
    #welcome
      #left
        h1 StarDash
        h2 Chastity experience from the stars
        #buttons
          
          a(href="#features")#feat Features
          if authorized
            a(href="/dashboard")#star Start your experience!
          else
            a(href="/signup")#star Start your experience!
      #right 
    div
      h2#featuresTitle Feature list
      ul#features
        li.feature
          i(class="fa-solid fa-list-check")
          h3 Tasks
          h4 Get tasks at set times or whenever you want, including specific days
        li.feature
          i(class="fa-solid fa-link")
          h3 Shared links
          h4 Let others modify time, vote on tasks, see your statistics and more!
        li.feature
          i(class="fa-solid fa-sliders")
          h3 Setup limits 
          h4 Make the lock what you want it to be without sacrificing safety
        li.feature
          i(class="fa-solid fa-soap")
          h3 Hygiene unlock
          h4 Keep yourself clean and safe during your session with ease
        li.feature
          i(class="fa-solid fa-key")
          h3 Keyholding
          h4 Allow others to have full control over your keys! Make sure you trust them
        li.feature
          i(class="fa-solid fa-pen-to-square")
          h3 Custom modules
          h4 Create your own modules using our API with simple documentation including guides 
        li.feature
          i(class="fa-solid fa-folder-open")
          h3 Open source
          h4 Contribute to the project with your own code or bug fixes! The source code is public on github!
        li.feature
          i(class="fa-solid fa-ellipsis")
          h3 and a lot more!
    #premium.main__card
      h1 Premium 
      p Enhance your experience for <span>only 10£/month!</span> Unlock all features, including: <i class="fa-solid fa-money-bill"></i> Findom, <i class="fa-solid fa-crown"></i> Premium badge,  <i class="fa-solid fa-user-large"></i> Parental controls, <i class="fa-solid fa-gamepad"></i> Game connected, ...
      div
        h2 * Non refundable, cancel any-time, subject to ToS and Privacy Policy
        a(href="") Learn more  
        a(href="/premium") Subscribe 
    .footer
      div 
          ul 
            li Legal
            li 
              a(href="/tos") Terms Of Service 
            li 
              a(href="/privacy") Privacy Policy
       
          ul 
            li Useful links 
            li 
              a(href="/developers") Developers 
            li 
              a(href="/premium") Premium  
      h1 Copyright of StarDash 2024