html 
    head
        title StarDash
        link(rel='stylesheet', type='text/css', href='/main.css')
    body 
        script.
            function setAccessToken(){
                document.cookie = "token=270224yldPbCd5UVx2EGQ5Lh3MILmuYAo1MbRF97kI5RopzFBZbEbClnoqm1l6ZpNW0xTpKCVj7u";
            }
        btn(onclick="setAccessToken()") setAccesToken