html 
    head 
    body 
        script.
            function setAccessToken(){
                localStorage.setItem("token","270224yldPbCd5UVx2EGQ5Lh3MILmuYAo1MbRF97kI5RopzFBZbEbClnoqm1l6ZpNW0xTpKCVj7u");
            }
        btn(onclick="setAccessToken()") setAccesToken