html 
    head
        title Sign in
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    body 
        include modules/navbar.pug
        .form 
            label(for="email") Email or username
            input(type="email" name="email" id="email" placeholder="Input your email")
            label(for="pass") Password
            input(type="password" name="pass" id="pass" placeholder="Input your password")
            button(type="submit") Sign in
            a(href="/signup") Don't have an account?
