@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
	font-family: "Open Sans";
	color: white;
	--secondary-colour: #7927fc;
	--background-color: #161616;
	--sec-bg-color: #292828;
}

body {
	background-color: var(--background-color);
}

.timer__container {
	max-width: max-content;
	margin: auto;
	background-color: var(--sec-bg-color);
	padding-block: 0.5rem;
	padding-inline: 1rem;
	border-radius: 0.5rem;
}

.timer__container > h1 {
	text-align: center;
	margin: 0;
	font-size: 24px;
}

#timer {
	display: flex;
	text-align: center;
}

#timer > .window {
	width: 70px;
	margin-inline: 0.25rem;
}

#timer > .window > .digits {
	background-color: #4a4a4a;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	border: 5px solid var(--sec-bg-color);
	border-radius: 1.25rem;
}

#actions {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background-color: var(--sec-bg-color);
	max-width: max-content;
	margin-inline: auto;
	display: flex;
	border-radius: 0.5rem;
}

#actions > .action {
	width: 80px;
	height: 20px;
	margin-inline: 0.5rem;
	background-color: #4a4a4a;
	text-align: center;
	border: 3px solid var(--sec-bg-color);
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;
	transition-duration: 250ms;
}

#actions > .action:hover {
	cursor: pointer;
	transform: scale(1.05);
	border-color: #fff;
}

#error404 {
	margin-inline: auto;
	width: fit-content;
	margin-top: 33vh;
	text-align: center;
}

#error404 > h1 {
	margin: 0;
}

#error404 > #return {
	all: unset;
	cursor: pointer;
	font-size: 20px;
	margin-top: 0.5rem;
	padding: 0.5rem 1.5rem;
	border-radius: 1rem;
	background-color: var(--secondary-colour);
	transition-duration: 250ms;
}

#error404 > #return:hover {
	transform: scale(1.05);
}

#navBar {
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
	margin-inline: auto;
}

#navBar > #list {
	list-style: none;
	padding: 0;
	display: flex;
}

#navBar > #list > li {
	width: 100px;
	padding-block: 0.75rem;
	background-color: var(--sec-bg-color);
	text-align: center;
	margin-inline: 0.25rem;
	border: 2px solid var(--background-color);
	border-radius: 0.5rem;
	transition-duration: 250ms;
}

#navBar > #list > li:hover {
	cursor: pointer;
	transform: scale(1.05);
	border-color: #fff;
}

#navBar > #list > li > a {
	all: unset;
	font-weight: 600;
}

#navBar > #title {
	width: 200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
}

#navBar > #title > h1 {
	font-size: 28px;
	padding: 0;
	margin: 0;
}

#navBar > #title > #logo {
	background-image: url("/images/starDashLogoV1.png");
	height: 50px;
	width: 50px;
	background-size: contain;
}

#welcome {
	max-width: 1000px;
	display: flex;
	margin-inline: auto;
	margin-top: 2rem;
}

#welcome > #left {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 400px;
	padding: 1rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	background-color: var(--sec-bg-color);
}

#welcome > #left > h1 {
	margin: 0;
	margin-top: 2rem;
	margin-left: 1rem;
}

#welcome > #left > h2 {
	margin: 0;
	margin-left: 1.5rem;
	font-weight: 600;
}

#welcome > #left > #buttons > a {
	all: unset;
	position: absolute;
	padding: 0.5rem 1.5rem;
	width: fit-content;
	font-size: 20px;
	font-weight: 500;
	border-radius: 0.5rem;
	cursor: pointer;
	transition-duration: 250ms;
}

#welcome > #left > #buttons > a:hover {
	transform: scale(1.1);
}

#welcome > #left > #buttons > #star {
	right: 2rem;
	bottom: 2.5rem;
	background-color: var(--secondary-colour);
}
#welcome > #left > #buttons > #feat {
	right: 19rem;
	bottom: 2.5rem;
	background-color: var(--background-color);
}

#welcome > #right {
	width: 50%;
	height: 400px;
	padding: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

#features {
	max-width: 1000px;
	margin-inline: auto;
	margin-top: 2rem;
	padding: 0;
	list-style: none;
}

#features > .feature {
	width: 100%;
	height: 200px;
}

#selectRole {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin-inline: auto;
	text-align: center;
}

#selectRole > * {
	margin: 0;
}

#selectRole > h3 {
	font-weight: 400;
	font-size: 14px;
}
#selectRole > h2 {
	margin-top: 1rem;
}

#selectRole > .buttons {
	display: flex;
	justify-content: center;
	margin-block: 2rem;
}

#selectRole > .buttons > a {
	background-color: var(--sec-bg-color);
	margin-inline: 1rem;
	width: 200px;
	padding-block: 1.25rem;
	border-radius: 0.5rem;
	transition-duration: 250ms;
	font-weight: 500;
	font-size: 20px;
}

#selectRole > .buttons > a:hover {
	cursor: pointer;
	transform: scale(1.1);
	box-shadow: 2px 2px var(--secondary-colour), -2px -2px var(--secondary-colour), 2px -2px var(--secondary-colour), -2px 2px var(--secondary-colour);
}

#activeLocks {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin-inline: auto;
}

#activeLocks > #lockList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

#activeLocks > #lockList > li {
	position: relative;
	width: 300px;
	margin: 0.5rem;
	height: 200px;
	background-color: var(--sec-bg-color);
	display: flex;
	flex-direction: column;
	border: 2px solid var(--sec-bg-color);
	border-radius: 0.5rem;
}

#activeLocks > #lockList > li > #timer {
	width: 100%;
	text-align: center;
	background-color: var(--background-color);
	height: 25%;
	justify-content: center;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
}

#activeLocks > #lockList > li > #actions > i {
	margin: 0.25rem;
	transition-duration: 250ms;
}

#activeLocks > #lockList > li > #actions > i:hover {
	color: var(--secondary-colour);
	cursor: pointer;
}

#activeLocks > #lockList > li > #actions {
	margin-top: 0;
}

#activeLocks > #lockList > li > #name {
	position: absolute;
	bottom: 1.3rem;
	left: 0;
	right: 0;
	margin-inline: auto;
}

#activeLocks > #lockList > li > #lockedSince {
	position: absolute;
	bottom: 0.3rem;
	left: 0;
	right: 0;
	margin-inline: auto;
	font-size: 12px;
}
