@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
	font-family: "Open Sans";
	color: #ffffff;
	--primary: #7e47d7;
	--primary-rgb: 126, 71, 215;
	--background: #171717;
	--secondary: #2c2c2c;
	--secondary-rgb: 44, 44, 44;
	--accent: #ad49bc;
}

body {
	margin: 5px;
	background-color: var(--background);
}

.timer__container {
	max-width: max-content;
	margin: auto;
	background-color: var(--secondary);
	padding-block: 0.5rem;
	padding-inline: 1rem;
	border-radius: 0.5rem;
}

.timer__container > h1 {
	text-align: center;
	margin: 0;
	font-size: 24px;
}

#timer {
	display: flex;
	text-align: center;
}

#timer > .window {
	width: 70px;
	margin-inline: 0.25rem;
}

#timer > .window > .digits {
	background-color: #4a4a4a;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	border: 5px solid var(--secondary);
	border-radius: 1.25rem;
}

#actions {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background-color: var(--secondary);
	max-width: max-content;
	margin-inline: auto;
	display: flex;
	border-radius: 0.5rem;
}

#actions > .action {
	width: 80px;
	height: 20px;
	margin-inline: 0.5rem;
	background-color: #4a4a4a;
	text-align: center;
	border: 3px solid var(--secondary);
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;
	transition-duration: 250ms;
	text-decoration: none;
}

#actions > .action:hover {
	cursor: pointer;
	transform: scale(1.05);
	border-color: #fff;
}

#error404 {
	margin-inline: auto;
	width: fit-content;
	margin-top: 33vh;
	text-align: center;
}

#error404 > h1 {
	margin: 0;
}

#error404 > #return {
	all: unset;
	cursor: pointer;
	font-size: 20px;
	margin-top: 0.5rem;
	padding: 0.5rem 1.5rem;
	border-radius: 1rem;
	background-color: var(--primary);
	transition-duration: 250ms;
}

#error404 > #return:hover {
	transform: scale(1.05);
}

.navBarContainer {
	border-bottom: rgb(61, 61, 61) 1px solid;
}

#navBar {
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
	margin-inline: auto;
}

#navBar > #list {
	list-style: none;
	padding: 0;
	display: flex;
}

#navBar > #list > li {
	width: 100px;
	padding-block: 0.75rem;
	background-color: var(--secondary);
	text-align: center;
	margin-inline: 0.25rem;
	border-radius: 0.25rem;
	transition-duration: 250ms;
}

#navBar > #list > li:hover {
	cursor: pointer;
	transform: translateY(-5px);
}

#navBar > #list > li > a {
	all: unset;
	font-weight: 600;
}

#navBar > #title {
	width: 200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
}

#navBar > #title > h1 {
	font-size: 28px;
	padding: 0;
	margin: 0;
}

#navBar > #title > #logo {
	background-image: url("/images/starDashLogoV1.png");
	height: 50px;
	width: 50px;
	background-size: contain;
}

#welcome {
	max-width: 1000px;
	display: flex;
	margin-inline: auto;
	margin-top: 2rem;
	/* box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.281); */
	border-radius: 1rem;
	overflow: hidden;
}

#welcome > #left {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 400px;
	padding: 1rem;
	/* background-color: var(--secondary); */
}

#welcome > #left > h1 {
	margin: 0;
	margin-top: 2rem;
	margin-left: 1rem;
	font-size: 3rem;
	background-clip: inherit;
	background-color: #f3ec78;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	background-image: linear-gradient(to right, var(--primary), var(--accent));
}

#welcome > #left > h2 {
	margin: 0;
	margin-left: 1.5rem;
	font-weight: 600;
}

#welcome > #left > #buttons > a {
	all: unset;
	position: absolute;
	padding: 0.5rem 1.5rem;
	width: fit-content;
	font-size: 20px;
	font-weight: 500;
	border-radius: 0.5rem;
	cursor: pointer;
	transition-duration: 250ms;
}

#welcome > #left > #buttons > a:hover {
	transform: scale(1.1);
}
#welcome > #left > #buttons > a:last-child:hover {
	box-shadow: 0px 0px 20px var(--primary);
}

#welcome > #left > #buttons > #star {
	right: 2rem;
	bottom: 2.5rem;
	background-image: linear-gradient(to bottom right, var(--primary) 30%, var(--accent));
}
#welcome > #left > #buttons > #feat {
	right: 19rem;
	bottom: 2.5rem;
	background-color: var(--secondary);
}

#welcome > #right {
	width: 50%;
	height: 400px;
	padding: 1rem;
	background-image: url("/images/test.png");
	background-size: cover;
}

#features {
	max-width: 1000px;
	margin-inline: auto;
	margin-top: 2rem;
	padding: 0;
	list-style: none;
}

#features > .feature {
	width: 100%;
	height: 200px;
}

#selectRole {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin-inline: auto;
	text-align: center;
}

#selectRole > * {
	margin: 0;
}

#selectRole > h3 {
	font-weight: 400;
	font-size: 14px;
}
#selectRole > h2 {
	margin-top: 1rem;
}

#selectRole > .buttons {
	display: flex;
	justify-content: center;
	margin-block: 2rem;
}

#selectRole > .buttons > a {
	background-color: var(--secondary);
	margin-inline: 1rem;
	width: 200px;
	padding-block: 1.25rem;
	border-radius: 0.5rem;
	transition-duration: 250ms;
	font-weight: 500;
	font-size: 20px;
}

#selectRole > .buttons > a:hover {
	cursor: pointer;
	transform: scale(1.1);
	box-shadow: 2px 2px var(--primary), -2px -2px var(--primary), 2px -2px var(--primary), -2px 2px var(--primary);
}

#activeLocks,
#lockeeView {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin-inline: auto;
}

#lockeeView {
	margin-bottom: 4rem;
}

#activeLocks > #lockList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

#activeLocks > #lockList > li {
	position: relative;
	width: 300px;
	margin: 0.5rem;
	height: 200px;
	background-color: var(--secondary);
	display: flex;
	flex-direction: column;
	border: 2px solid var(--secondary);
	border-radius: 0.5rem;
}

#activeLocks > #lockList > li > #timer {
	width: 100%;
	text-align: center;
	background-color: var(--background);
	height: 25%;
	justify-content: center;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
}

#activeLocks > #lockList > li > #actions > i {
	margin: 0.25rem;
	transition-duration: 250ms;
}

#activeLocks > #lockList > li > #actions > i:hover {
	color: var(--primary);
	cursor: pointer;
}

#activeLocks > #lockList > li > #actions {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0;
}

#activeLocks > #lockList > li > #name {
	position: absolute;
	bottom: 1.3rem;
	left: 0;
	right: 0;
	margin-inline: auto;
}

#activeLocks > #lockList > li > #lockedSince {
	position: absolute;
	bottom: 0.3rem;
	left: 0;
	right: 0;
	margin-inline: auto;
	font-size: 12px;
}

.form {
	margin-top: 5rem;
	max-width: 400px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
}

.form > label {
	font-weight: 600;
	margin-left: 1rem;
}

.form > input {
	all: unset;
	background-color: #4a4a4a;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	box-shadow: 5px 5px 7px black;
	border: 2px solid var(--background);
	margin-bottom: 0.75rem;
}

.form > button {
	all: unset;
	background-color: var(--secondary);
	text-align: center;
	padding-block: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition-duration: 250ms;
	margin-top: 0.5rem;
}

.form > button:hover {
	transform: scale(1.05);
}

.form > a {
	text-align: center;
	margin-top: 0.5rem;
	font-size: 14px;
}

#features {
	margin-block: 0;
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
}

#features > .feature {
	width: 200px;
	height: 250px;
	background-color: rgba(var(--secondary-rgb), 0.6);
	margin-inline: 1rem;
	margin-block: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 0.25rem;
	border-radius: 2rem;
	text-align: center;
}

#features > .feature > h3 {
	margin: 0;
	margin-top: 0.5rem;
	font-weight: 500;
}

#features > .feature > h4 {
	font-weight: 400;
	padding-inline: 1rem;
}

#features > .feature > i {
	font-size: 25px;
	margin-top: 2.5rem;
}

#featuresTitle {
	text-align: center;
	margin: 0;
	margin-top: 5rem;
	font-size: 32px;
}

#features > .feature:last-child {
	justify-content: center;
	align-items: center;
}

#features > .feature:last-child > i {
	margin: 0;
}

#error {
	color: red;
	text-align: center;
	font-size: 18px;
	height: 20px;
}
